<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% if @users.length == 0 %>
     No current donations 
<% else %>
    <% @users.each do |user| %>
        <div>
            <p>
            <strong>First Name: </strong><br>
            <%= user.first_name %><br>
            <strong>Last Name: </strong><br>
            <%= user.last_name %><br>
            <strong>Email: </strong><br>
            <%= user.email %><br>
            <strong>Username: </strong><br>
            <%= user.username %><br>
            </p>
        </div>
    <% end %> 
<% end %>

