<h1>Venues#index</h1>
<p>Find me in app/views/venues/index.html.erb</p>

<h3><%= pluralize(@venues.count, 'Venue') %></h3>
<ul>
    <% @venues.each do |venue| %>
        <li><strong><%= link_to venue.name, venue_path(venue) %></strong></li>
    <% end %>
</ul>



