<h1>Venues#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div>
    <p>
    <strong>Venue: </strong><br>
    <%= @venue.name %><br>
    <strong>Address: </strong><br>
    <%= @venue.address %><br>
    <strong>Phone Number: </strong><br>
    <%= @venue.phone_number %><br>
    </p>
</div>

